.appbar {
    &-title {
        margin-right: 2;

        display: flex;

        font-family: monospace;
        font-weight: 700;
        letter-spacing: .3rem;
        color: inherit;
        text-decoration: none;
    }

    &-page-link {
        display: flex;
        text-decoration: white;
        margin-top: 2;
        margin-bottom: 2;
    }

    &-links-container{
        display: flex; 
        flex-grow: 1;
        margin-right: 20px; 
        margin-left: 20px;
        flex-direction: row;
    }
}